.title {
    height: 100vh;
    background: url(../scss/images/design1_image1.png) no-repeat
    bottom right;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 10vw;
    color: #ffffff ;

    h1 {
        position: relative;
        font-size: 2rem;
        text-transform: uppercase;
        text-align: center;
        padding: 2rem;
    }
}