@import url("https://fonts.googleapis.com/css2?family=Arimo&display=swap");
.title {
  height: 20vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 10vw;
  color: #ffffff;
}

.title h1 {
  text-shadow: 0 1px 0px #053c4c, 1px 0 0px #053c4c, 1px 2px 1px #053c4c, 2px 1px 1px #053c4c, 2px 3px 2px #053c4c, 3px 2px 2px #053c4c, 3px 4px 2px #053c4c, 4px 3px 3px #053c4c, 4px 5px 3px #053c4c, 5px 4px 2px #053c4c, 5px 6px 2px #053c4c, 6px 5px 2px #053c4c, 6px 7px 1px #053c4c, 7px 6px 1px #053c4c, 7px 8px 0px #053c4c, 8px 7px 0px #053c4c, -5px 3px 6px rgba(61, 175, 44, 0);
  position: relative;
  font-size: 2rem;
  text-transform: uppercase;
  text-align: center;
  padding: 2rem;
  font-weight: bolder;
}

.main-header {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 65px;
  width: 100vw;
  padding: 0 10vw;
  color: #fff;
  z-index: 1;
  -webkit-transition: .3s ease-out;
  transition: .3s ease-out;
}

.main-header a {
  text-decoration: none;
  color: inherit;
  text-transform: uppercase;
}

.main-header .nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

.main-header .nav-links .nav-link {
  -webkit-transition: opacity 0.4s ease-in-out transform 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: opacity 0.4s ease-in-out transform 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.main-header .nav-links .nav-link:nth-of-type(2) {
  -webkit-transition-delay: .1s;
          transition-delay: .1s;
}

.main-header .nav-links .nav-link:nth-of-type(3) {
  -webkit-transition-delay: .2s;
          transition-delay: .2s;
}

.main-header .nav-links .nav-link:nth-of-type(4) {
  -webkit-transition-delay: .3s;
          transition-delay: .3s;
}

.main-header .nav-links .nav-link:nth-of-type(5) {
  -webkit-transition-delay: .4s;
          transition-delay: .4s;
}

.main-header .nav-links .nav-link:nth-of-type(6) {
  -webkit-transition-delay: .5s;
          transition-delay: .5s;
}

.main-header .nav-links .nav-link a {
  color: #fff;
  margin: .3rem;
  padding: 1rem .5rem;
}

.main-header .nav-links .nav-link a:hover {
  background: rgba(255, 255, 255, 0.2);
}

.main-header .menu-icon {
  position: relative;
  padding: 26px 10px;
  cursor: pointer;
  z-index: 1;
  display: none;
}

.main-header .menu-icon__line {
  display: block;
  position: relative;
  background: #fff;
  height: 2px;
  width: 20px;
  border-radius: 4px;
  -webkit-transition: background .8s ease;
  transition: background .8s ease;
}

.main-header .menu-icon__line::before, .main-header .menu-icon__line::after {
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: 4px;
  background: #fff;
  -webkit-transition: background .8s ease;
  transition: background .8s ease;
}

.main-header .menu-icon__line::before {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

.main-header .menu-icon__line::after {
  -webkit-transform: translateY(5px);
          transform: translateY(5px);
}

.main-header .menu-btn {
  position: absolute;
  top: -100px;
}

.main-header .menu-btn:focus ~ .menu-icon .menu-icon__line::before {
  -webkit-transform: translateY(-7px);
          transform: translateY(-7px);
}

.main-header .menu-btn:focus ~ .menu-icon .menu-icon__line::after {
  -webkit-transform: translateY(7px);
          transform: translateY(7px);
}

.main-header.scrolled {
  height: 50px;
  background: #053b4cf1;
  color: #fff;
}

.main-header.scrolled .menu-icon__line, .main-header.scrolled .menu-icon__line::before, .main-header.scrolled .menu-icon__line::after {
  background: #fff;
}

@media screen and (max-width: 767px) {
  .main-header .menu-icon {
    display: block;
  }
  .main-header .menu-icon__line {
    -webkit-animation: closeMid 0.8s backwards;
            animation: closeMid 0.8s backwards;
    animation-direction: reverse;
  }
  .main-header .menu-icon__line::before {
    -webkit-animation: closedTop 0.8s backwards;
            animation: closedTop 0.8s backwards;
    animation-direction: reverse;
  }
  .main-header .menu-icon__line::after {
    -webkit-animation: closedBtm 0.8s backwards;
            animation: closedBtm 0.8s backwards;
    animation-direction: reverse;
  }
  .main-header .nav-links {
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 10rem 0;
    width: 100vw;
    height: 100vh;
    font-size: 2rem;
    color: #fff;
    background: #053c4c;
    -webkit-transition: opacity .8s .1s, -webkit-clip-path 1s .5s;
    transition: opacity .8s .1s, -webkit-clip-path 1s .5s;
    transition: opacity .8s .1s, clip-path 1s .5s;
    transition: opacity .8s .1s, clip-path 1s .5s, -webkit-clip-path 1s .5s;
    -webkit-clip-path: circle(200px at top-right);
            clip-path: circle(200px at top-right);
  }
  .main-header .nav-links .nav-link {
    opacity: 0;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    width: 100%;
    text-align: center;
  }
  .main-header .nav-links .nav-link a {
    color: #fff;
    display: block;
    padding: 2rem 0;
  }
  .main-header .nav-links .nav-link a:hover {
    color: #a4ff4a;
  }
  .main-header .menu-btn:checked ~ .nav-links {
    opacity: 1;
    visibility: visible;
    -webkit-clip-path: circle(100% at center);
            clip-path: circle(100% at center);
  }
  .main-header .menu-btn:checked ~ .nav-links .nav-link {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
    -webkit-transition: opacity 0.5s ease-in-out, -webkit-transform 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition: opacity 0.5s ease-in-out, -webkit-transform 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition: opacity 0.5s ease-in-out, transform 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition: opacity 0.5s ease-in-out, transform 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275), -webkit-transform 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  .main-header .menu-btn:checked ~ .nav-links .nav-link:nth-of-type(1) {
    -webkit-transition-delay: .7s;
            transition-delay: .7s;
  }
  .main-header .menu-btn:checked ~ .nav-links .nav-link:nth-of-type(2) {
    -webkit-transition-delay: .8s;
            transition-delay: .8s;
  }
  .main-header .menu-btn:checked ~ .nav-links .nav-link:nth-of-type(3) {
    -webkit-transition-delay: .9s;
            transition-delay: .9s;
  }
  .main-header .menu-btn:checked ~ .nav-links .nav-link:nth-of-type(4) {
    -webkit-transition-delay: 1s;
            transition-delay: 1s;
  }
  .main-header .menu-btn:checked ~ .nav-links .nav-link:nth-of-type(5) {
    -webkit-transition-delay: 1.1s;
            transition-delay: 1.1s;
  }
  .main-header .menu-btn:checked ~ .nav-links .nav-link:nth-of-type(6) {
    -webkit-transition-delay: 1.2s;
            transition-delay: 1.2s;
  }
  .main-header .menu-btn:checked ~ .menu-icon {
    border-radius: 50%;
    -webkit-animation: pulse 1s;
            animation: pulse 1s;
  }
  .main-header .menu-btn:checked ~ .menu-icon .menu-icon__line {
    background: #fff;
    -webkit-animation: openMid 0.8s forwards;
            animation: openMid 0.8s forwards;
  }
  .main-header .menu-btn:checked ~ .menu-icon .menu-icon__line::before {
    background: #fff;
    -webkit-animation: openTop 0.8s forwards;
            animation: openTop 0.8s forwards;
  }
  .main-header .menu-btn:checked ~ .menu-icon .menu-icon__line::after {
    background: #fff;
    -webkit-animation: openBtm 0.8s forwards;
            animation: openBtm 0.8s forwards;
  }
  .title h1 {
    font-size: 2rem;
  }
  .container {
    font-size: 1rem;
  }
}

@-webkit-keyframes pulse {
  from {
    -webkit-box-shadow: 0 0 0 0px rgba(255, 255, 255, 0.6);
            box-shadow: 0 0 0 0px rgba(255, 255, 255, 0.6);
    background: rgba(255, 255, 255, 0.6);
  }
  to {
    -webkit-box-shadow: 0 0 0 0px rgba(255, 255, 255, 0);
            box-shadow: 0 0 0 0px rgba(255, 255, 255, 0);
    background: rgba(255, 255, 255, 0);
  }
}

@keyframes pulse {
  from {
    -webkit-box-shadow: 0 0 0 0px rgba(255, 255, 255, 0.6);
            box-shadow: 0 0 0 0px rgba(255, 255, 255, 0.6);
    background: rgba(255, 255, 255, 0.6);
  }
  to {
    -webkit-box-shadow: 0 0 0 0px rgba(255, 255, 255, 0);
            box-shadow: 0 0 0 0px rgba(255, 255, 255, 0);
    background: rgba(255, 255, 255, 0);
  }
}

@-webkit-keyframes openTop {
  0% {
    -webkit-transform: translateY(-5px) rotate(0deg);
            transform: translateY(-5px) rotate(0deg);
  }
  50% {
    -webkit-transform: translateY(0px) rotate(0deg);
            transform: translateY(0px) rotate(0deg);
  }
  100% {
    -webkit-transform: translateY(0px) rotate(90deg);
            transform: translateY(0px) rotate(90deg);
  }
}

@keyframes openTop {
  0% {
    -webkit-transform: translateY(-5px) rotate(0deg);
            transform: translateY(-5px) rotate(0deg);
  }
  50% {
    -webkit-transform: translateY(0px) rotate(0deg);
            transform: translateY(0px) rotate(0deg);
  }
  100% {
    -webkit-transform: translateY(0px) rotate(90deg);
            transform: translateY(0px) rotate(90deg);
  }
}

@-webkit-keyframes closedTop {
  0% {
    -webkit-transform: translateY(-5px) rotate(0deg);
            transform: translateY(-5px) rotate(0deg);
  }
  50% {
    -webkit-transform: translateY(0px) rotate(0deg);
            transform: translateY(0px) rotate(0deg);
  }
  100% {
    -webkit-transform: translateY(0px) rotate(90deg);
            transform: translateY(0px) rotate(90deg);
  }
}

@keyframes closedTop {
  0% {
    -webkit-transform: translateY(-5px) rotate(0deg);
            transform: translateY(-5px) rotate(0deg);
  }
  50% {
    -webkit-transform: translateY(0px) rotate(0deg);
            transform: translateY(0px) rotate(0deg);
  }
  100% {
    -webkit-transform: translateY(0px) rotate(90deg);
            transform: translateY(0px) rotate(90deg);
  }
}

@-webkit-keyframes openMid {
  50% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
}

@keyframes openMid {
  50% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
}

@-webkit-keyframes closedMid {
  50% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
}

@keyframes closedMid {
  50% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
}

@-webkit-keyframes openBtm {
  0% {
    -webkit-transform: translateY(5px) rotate(0deg);
            transform: translateY(5px) rotate(0deg);
  }
  50% {
    -webkit-transform: translateY(0px) rotate(0deg);
            transform: translateY(0px) rotate(0deg);
  }
  100% {
    -webkit-transform: translateY(0px) rotate(90deg);
            transform: translateY(0px) rotate(90deg);
  }
}

@keyframes openBtm {
  0% {
    -webkit-transform: translateY(5px) rotate(0deg);
            transform: translateY(5px) rotate(0deg);
  }
  50% {
    -webkit-transform: translateY(0px) rotate(0deg);
            transform: translateY(0px) rotate(0deg);
  }
  100% {
    -webkit-transform: translateY(0px) rotate(90deg);
            transform: translateY(0px) rotate(90deg);
  }
}

@-webkit-keyframes closedBtm {
  0% {
    -webkit-transform: translateY(5px) rotate(0deg);
            transform: translateY(5px) rotate(0deg);
  }
  50% {
    -webkit-transform: translateY(0px) rotate(0deg);
            transform: translateY(0px) rotate(0deg);
  }
  100% {
    -webkit-transform: translateY(0px) rotate(90deg);
            transform: translateY(0px) rotate(90deg);
  }
}

@keyframes closedBtm {
  0% {
    -webkit-transform: translateY(5px) rotate(0deg);
            transform: translateY(5px) rotate(0deg);
  }
  50% {
    -webkit-transform: translateY(0px) rotate(0deg);
            transform: translateY(0px) rotate(0deg);
  }
  100% {
    -webkit-transform: translateY(0px) rotate(90deg);
            transform: translateY(0px) rotate(90deg);
  }
}

.container {
  max-width: 100vw;
  padding: 2px 15px;
  text-align: center;
  font-weight: bolder;
}

.container a {
  color: #a4ff4a;
}

.container .aboutList {
  text-align: center;
}

.container h1 {
  text-shadow: 0 1px 0px #053c4c, 1px 0 0px #053c4c, 1px 2px 1px #053c4c, 2px 1px 1px #053c4c, 2px 3px 2px #053c4c, 3px 2px 2px #053c4c, 3px 4px 2px #053c4c, 4px 3px 3px #053c4c, 4px 5px 3px #053c4c, 5px 4px 2px #053c4c, 5px 6px 2px #053c4c, 6px 5px 2px #053c4c, 6px 7px 1px #053c4c, 7px 6px 1px #053c4c, 7px 8px 0px #053c4c, 8px 7px 0px #053c4c, -5px 3px 6px rgba(61, 175, 44, 0);
  color: #a4ff4a;
}

.container h2 {
  text-shadow: 0 1px 0px #053c4c, 1px 0 0px #053c4c, 1px 2px 1px #053c4c, 2px 1px 1px #053c4c, 2px 3px 2px #053c4c, 3px 2px 2px #053c4c, 3px 4px 2px #053c4c, 4px 3px 3px #053c4c, 4px 5px 3px #053c4c, 5px 4px 2px #053c4c, 5px 6px 2px #053c4c, 6px 5px 2px #053c4c, 6px 7px 1px #053c4c, 7px 6px 1px #053c4c, 7px 8px 0px #053c4c, 8px 7px 0px #053c4c, -5px 3px 6px rgba(61, 175, 44, 0);
  color: #a4ff4a;
  font-size: 1.5rem;
  text-align: center;
  line-height: 20px;
  padding: 15px 15px 0;
  text-transform: none;
  letter-spacing: 1px;
  font-weight: 300;
  display: block;
  margin: 0;
  cursor: pointer;
  -webkit-transition: .2s;
  transition: .2s;
}

.container p {
  text-shadow: 0 1px 0px #053c4c, 1px 0 0px #053c4c, 1px 2px 1px #053c4c, 2px 1px 1px #053c4c, 2px 3px 2px #053c4c, 3px 2px 2px #053c4c, 3px 4px 2px #053c4c, 4px 3px 3px #053c4c, 4px 5px 3px #053c4c, 5px 4px 2px #053c4c, 5px 6px 2px #053c4c, 6px 5px 2px #053c4c, 6px 7px 1px #053c4c, 7px 6px 1px #053c4c, 7px 8px 0px #053c4c, 8px 7px 0px #053c4c, -5px 3px 6px rgba(61, 175, 44, 0);
  color: #ffffff;
  text-align: center;
  font-size: 16px;
  line-height: 1.45;
  position: relative;
  overflow: hidden;
  will-change: max-height;
  contain: layout;
  display: inline-block;
  opacity: 1;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  margin-top: 15px;
  margin-bottom: 5px;
  margin-left: 2px;
  margin-right: 2px;
  -webkit-transition: .3s opacity, .6s max-height;
  transition: .3s opacity, .6s max-height;
  -webkit-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;
  z-index: 0;
}

.container ul {
  list-style: none;
  -webkit-perspective: 900;
          perspective: 900;
  padding: 0;
  margin: 0;
}

.container ul li {
  position: relative;
  overflow: hidden;
  padding: 0;
  margin: 0;
  background: #053c4c;
  -webkit-box-shadow: 0 3px 10px -2px rgba(0, 0, 0, 0.1);
          box-shadow: 0 3px 10px -2px rgba(0, 0, 0, 0.1);
  -webkit-tap-highlight-color: transparent;
  border-radius: 4px;
}

.container ul li + li {
  margin-top: 15px;
}

.container ul li:last-of-type {
  padding-bottom: 0;
}

.container ul li i {
  position: absolute;
  -webkit-transform: translate(-6px, 0);
          transform: translate(-6px, 0);
  margin-top: 20px;
  right: 15px;
}

.container ul li i::before,
.container ul li i::after {
  content: "";
  position: absolute;
  background-color: #a4ff4a;
  width: 3px;
  height: 9px;
}

.container ul li i::before {
  -webkit-transform: translate(-2px, 0) rotate(45deg);
          transform: translate(-2px, 0) rotate(45deg);
}

.container ul li i::after {
  -webkit-transform: translate(-2px, 0) rotate(-45deg);
          transform: translate(-2px, 0) rotate(-45deg);
}

.container ul li input[type=checkbox] {
  display: block;
  position: absolute;
  cursor: pointer;
  width: 100%;
  height: 100%;
  z-index: 2;
  opacity: 0;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
}

.container ul li input[type=checkbox]:checked ~ h2 {
  color: #ffffff;
}

.container ul li input[type=checkbox]:checked ~ p {
  margin: 0;
  max-height: 0;
  -webkit-transition: .3s;
  transition: .3s;
  opacity: 0;
}

.formy {
  text-align: center;
  color: #ffffff;
  font-size: 1.2rem;
  width: 100vw;
}

.formy .stylized {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 0px;
  margin-bottom: 15px;
}

.formy .stylized input {
  width: 70vw;
  height: 36px;
  font-size: 24px;
  text-align: center;
  color: #ffffff;
  background-color: #053c4c;
}

.formy .stylized label {
  text-shadow: 0 1px 0px #053c4c, 1px 0 0px #053c4c, 1px 2px 1px #053c4c, 2px 1px 1px #053c4c, 2px 3px 2px #053c4c, 3px 2px 2px #053c4c, 3px 4px 2px #053c4c, 4px 3px 3px #053c4c, 4px 5px 3px #053c4c, 5px 4px 2px #053c4c, 5px 6px 2px #053c4c, 6px 5px 2px #053c4c, 6px 7px 1px #053c4c, 7px 6px 1px #053c4c, 7px 8px 0px #053c4c, 8px 7px 0px #053c4c, -5px 3px 6px rgba(61, 175, 44, 0);
  color: #a4ff4a;
  font-size: 1.5rem;
}

.formy .stylized1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 0px solid #ffffff;
}

.formy .stylized1 input {
  width: 70vw;
  height: 36px;
  font-size: 24px;
  text-align: center;
  color: #ffffff;
  background-color: #053c4c;
}

.formy .stylized1 label {
  text-shadow: 0 1px 0px #053c4c, 1px 0 0px #053c4c, 1px 2px 1px #053c4c, 2px 1px 1px #053c4c, 2px 3px 2px #053c4c, 3px 2px 2px #053c4c, 3px 4px 2px #053c4c, 4px 3px 3px #053c4c, 4px 5px 3px #053c4c, 5px 4px 2px #053c4c, 5px 6px 2px #053c4c, 6px 5px 2px #053c4c, 6px 7px 1px #053c4c, 7px 6px 1px #053c4c, 7px 8px 0px #053c4c, 8px 7px 0px #053c4c, -5px 3px 6px rgba(61, 175, 44, 0);
  color: #a4ff4a;
  font-size: 1.5rem;
}

.formy .stylized2 {
  padding-top: 5px;
  display: flexbox;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border: 2px solid #ffffff;
  margin-top: 15px;
  margin-bottom: 15px;
}

.formy .stylized2 legend {
  text-shadow: 0 1px 0px #053c4c, 1px 0 0px #053c4c, 1px 2px 1px #053c4c, 2px 1px 1px #053c4c, 2px 3px 2px #053c4c, 3px 2px 2px #053c4c, 3px 4px 2px #053c4c, 4px 3px 3px #053c4c, 4px 5px 3px #053c4c, 5px 4px 2px #053c4c, 5px 6px 2px #053c4c, 6px 5px 2px #053c4c, 6px 7px 1px #053c4c, 7px 6px 1px #053c4c, 7px 8px 0px #053c4c, 8px 7px 0px #053c4c, -5px 3px 6px rgba(61, 175, 44, 0);
  color: #ffffff;
  margin-bottom: 2px;
  font-weight: bolder;
}

.formy .stylized2 label {
  text-shadow: 0 1px 0px #053c4c, 1px 0 0px #053c4c, 1px 2px 1px #053c4c, 2px 1px 1px #053c4c, 2px 3px 2px #053c4c, 3px 2px 2px #053c4c, 3px 4px 2px #053c4c, 4px 3px 3px #053c4c, 4px 5px 3px #053c4c, 5px 4px 2px #053c4c, 5px 6px 2px #053c4c, 6px 5px 2px #053c4c, 6px 7px 1px #053c4c, 7px 6px 1px #053c4c, 7px 8px 0px #053c4c, 8px 7px 0px #053c4c, -5px 3px 6px rgba(61, 175, 44, 0);
  color: #a4ff4a;
  font-size: 1.5rem;
}

.formy .stylized2 input[type=radio] {
  border: 0px;
  width: 1.2rem;
  height: 1.2rem;
}

.formy .stylized3 {
  display: flexbox;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 2px solid #ffffff;
  margin-top: 15px;
  margin-bottom: 15px;
}

.formy .stylized3 legend {
  text-shadow: 0 1px 0px #053c4c, 1px 0 0px #053c4c, 1px 2px 1px #053c4c, 2px 1px 1px #053c4c, 2px 3px 2px #053c4c, 3px 2px 2px #053c4c, 3px 4px 2px #053c4c, 4px 3px 3px #053c4c, 4px 5px 3px #053c4c, 5px 4px 2px #053c4c, 5px 6px 2px #053c4c, 6px 5px 2px #053c4c, 6px 7px 1px #053c4c, 7px 6px 1px #053c4c, 7px 8px 0px #053c4c, 8px 7px 0px #053c4c, -5px 3px 6px rgba(61, 175, 44, 0);
  color: #ffffff;
  margin-bottom: 2px;
  font-weight: bolder;
}

.formy .stylized3 label {
  text-shadow: 0 1px 0px #053c4c, 1px 0 0px #053c4c, 1px 2px 1px #053c4c, 2px 1px 1px #053c4c, 2px 3px 2px #053c4c, 3px 2px 2px #053c4c, 3px 4px 2px #053c4c, 4px 3px 3px #053c4c, 4px 5px 3px #053c4c, 5px 4px 2px #053c4c, 5px 6px 2px #053c4c, 6px 5px 2px #053c4c, 6px 7px 1px #053c4c, 7px 6px 1px #053c4c, 7px 8px 0px #053c4c, 8px 7px 0px #053c4c, -5px 3px 6px rgba(61, 175, 44, 0);
  color: #a4ff4a;
  font-size: 1.5rem;
  margin-top: 10px;
}

.formy .stylized3 select {
  height: 30px;
  background-color: #053c4c;
  color: #a4ff4a;
}

.formy .enviar input {
  height: 30px;
  width: 100px;
  border-radius: 30px;
  margin-top: 15px;
  margin-bottom: 5px;
  background-color: #053c4c;
  color: #a4ff4a;
}

#infotable {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#infotable h3 {
  color: #ffffff;
  text-shadow: 0 1px 0px #053c4c, 1px 0 0px #053c4c, 1px 2px 1px #053c4c, 2px 1px 1px #053c4c, 2px 3px 2px #053c4c, 3px 2px 2px #053c4c, 3px 4px 2px #053c4c, 4px 3px 3px #053c4c, 4px 5px 3px #053c4c, 5px 4px 2px #053c4c, 5px 6px 2px #053c4c, 6px 5px 2px #053c4c, 6px 7px 1px #053c4c, 7px 6px 1px #053c4c, 7px 8px 0px #053c4c, 8px 7px 0px #053c4c, -5px 3px 6px rgba(61, 175, 44, 0);
}

#infotable table {
  border-radius: 30px;
  background-color: #053b4cd2;
  color: #ffffff;
  font-weight: bolder;
}

#infotable table th, #infotable table td {
  padding: 20px;
}

#infotable table a {
  color: #a4ff4a;
}

#bodycontent h2 {
  text-align: center;
  color: #ffffff;
  text-shadow: 0 1px 0px #053c4c, 1px 0 0px #053c4c, 1px 2px 1px #053c4c, 2px 1px 1px #053c4c, 2px 3px 2px #053c4c, 3px 2px 2px #053c4c, 3px 4px 2px #053c4c, 4px 3px 3px #053c4c, 4px 5px 3px #053c4c, 5px 4px 2px #053c4c, 5px 6px 2px #053c4c, 6px 5px 2px #053c4c, 6px 7px 1px #053c4c, 7px 6px 1px #053c4c, 7px 8px 0px #053c4c, 8px 7px 0px #053c4c, -5px 3px 6px rgba(61, 175, 44, 0);
}

#bodycontent p {
  color: #ffffff;
  text-shadow: 0 1px 0px #053c4c, 1px 0 0px #053c4c, 1px 2px 1px #053c4c, 2px 1px 1px #053c4c, 2px 3px 2px #053c4c, 3px 2px 2px #053c4c, 3px 4px 2px #053c4c, 4px 3px 3px #053c4c, 4px 5px 3px #053c4c, 5px 4px 2px #053c4c, 5px 6px 2px #053c4c, 6px 5px 2px #053c4c, 6px 7px 1px #053c4c, 7px 6px 1px #053c4c, 7px 8px 0px #053c4c, 8px 7px 0px #053c4c, -5px 3px 6px rgba(61, 175, 44, 0);
}

#contentls {
  display: none;
}

@media (orientation: landscape) {
  #bodycontent {
    display: none;
  }
  #contentls {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  #contentls h2 {
    font-size: 24px;
    text-align: center;
    color: #ffffff;
    text-shadow: 0 1px 0px #053c4c, 1px 0 0px #053c4c, 1px 2px 1px #053c4c, 2px 1px 1px #053c4c, 2px 3px 2px #053c4c, 3px 2px 2px #053c4c, 3px 4px 2px #053c4c, 4px 3px 3px #053c4c, 4px 5px 3px #053c4c, 5px 4px 2px #053c4c, 5px 6px 2px #053c4c, 6px 5px 2px #053c4c, 6px 7px 1px #053c4c, 7px 6px 1px #053c4c, 7px 8px 0px #053c4c, 8px 7px 0px #053c4c, -5px 3px 6px rgba(61, 175, 44, 0);
  }
  #contentls p {
    margin: 1px;
    color: #ffffff;
    text-shadow: 0 1px 0px #053c4c, 1px 0 0px #053c4c, 1px 2px 1px #053c4c, 2px 1px 1px #053c4c, 2px 3px 2px #053c4c, 3px 2px 2px #053c4c, 3px 4px 2px #053c4c, 4px 3px 3px #053c4c, 4px 5px 3px #053c4c, 5px 4px 2px #053c4c, 5px 6px 2px #053c4c, 6px 5px 2px #053c4c, 6px 7px 1px #053c4c, 7px 6px 1px #053c4c, 7px 8px 0px #053c4c, 8px 7px 0px #053c4c, -5px 3px 6px rgba(61, 175, 44, 0);
  }
  #contentls .partidos {
    padding: 10px 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background: #053b4cca;
    border-radius: 30px;
  }
  #contentls .partidos .carousel-item {
    padding-left: 11%;
    width: 99vw;
  }
  #contentls .partidos .carousel-item #botones .boton, #contentls .partidos .carousel-item #botones2 .boton {
    border-color: #a4ff4a;
    height: 3rem;
    width: 6rem;
    background-color: #053c4c;
    color: #a4ff4a;
  }
  #contentls .partidos .carousel-control-next, #contentls .partidos .carousel-control-prev {
    width: 10%;
  }
}

*, *::before, *::after {
  font-family: 'Arimo';
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  margin: 0px !important;
}

body {
  font-family: 'Arimo';
  background: url(../scss/images/design1_image1.png) no-repeat bottom right;
  background-size: cover;
  background-attachment: fixed;
}

p {
  text-align: center;
  margin: 1rem 0;
}

.logo {
  width: 48px;
  height: 48px;
  background-image: url(./images/nysl_logo.png);
  background-size: cover;
}

#carouselExampleFade {
  z-index: 0 !important;
}
/*# sourceMappingURL=style.css.map */