*, *::before, *::after {
    font-family: 'Arimo';
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}

@import url('https://fonts.googleapis.com/css2?family=Arimo&display=swap');
@import 'title';
@import 'header';
@import 'media';
@import 'animations';
@import 'acordion';
@import 'formulary';
@import 'carrusel';

html {
    margin: 0px !important;
}

body {
    font-family: 'Arimo';
    background: url(../scss/images/design1_image1.png) no-repeat
    bottom right;
    background-size: cover;
    background-attachment: fixed;
    
}

p {
    text-align: center;
    margin: 1rem 0;
}

.logo {
    width: 48px;
    height: 48px;
    background-image: url(./images/nysl_logo.png);
    background-size: cover;
}